.box {
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    align-items: center;
}
.box-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;

    margin-inside: 5px;
}

.button-container button {
    width: 100px; /* Adjust this value as needed */
    height: 50px; /* Adjust this value as needed */
    margin-right: 20px; /* Adjust this value as needed */
    font-size: 20px; /* Adjust this value as needed */
}


.tie {
  border-color: black; /* 비길 경우 */
}

.win {
  border-color: green; /* 이길 경우 */
}

.lose {
  border-color: red; /* 질 경우 */
}

.default{
    border-color: lightgray; /* 기본 */

}

.item-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}